ANTHROPIC_API_KEY=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
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_5EIJ-cK4-tjauokxLnO10w_oPSWrlGQ
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_jYHwFe7nOj8YxF1Petvu5A_6C6TpWgh
